
<h3 style="text-align:center;"><%= @restaurant.name %></h3>
<p style="text-align:center;"><%= @restaurant.address %></p>
<p style="text-align:center;"><%= @restaurant.description %></p>

<%= render 'reservations/form' %>
