/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
main {
  margin: 10px;
}
a.restaurant_name {
  font-size: 30px;
  text-decoration: none;
  color: #dc3545;

}

.card_image img {
  width: 100%;
}

/*nav {
  padding-left: 20px;
}
.nav_item {
  display: inline-block;
  padding: .5rem 1rem;
}

.navbar-nav {
  flex-direction: row;
  vertical-align: middle;
}

.padding-for-nav {
  padding: .5rem 1rem;
}*/
